@font-face {
    font-family: 'Barlow Thin';
    src: url(./font/BarlowCondensed-Thin.otf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF5FF;
    font-family: 'Barlow Thin';
}

.content {
    display: flex;
    width: 90%;
    margin: 3%;
    background-color: white;
}

.content__bg {
    background: url(./img/bg.jpg) no-repeat;
    background-size: cover;
    width: 50vw;
}

.content__form {
    width: 50vw;
    height: 100%;
}

.form-wrapper {
    margin: 5% 5% 0 5%;
    display: grid;
    grid-template-rows: repeat(12, 0.9fr);
}

.__buttons {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.__buttons button {
    width: 40%;
    height: 3em;
    border-radius: 0;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__buttons button span {
    font-size: 14px;
    margin: 0 15% 0 15%;
}

.__buttons button:first-child {
    background-color: #255A9B;
    color: white;
}

.__buttons button:last-child {
    background-color: #0076B6;
    color: white;
}

.__or {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 20%;
    border-bottom: 0.5px solid white;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    opacity: 0.4;
    margin-left: 5px;
    margin-right: 5px;
}

.__or span {
    font-size: 12px;
}

.__inputs {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-wrapper__inputs_input {
    width: 38%;
    height: 4em;
    border: 0.5px solid rgba(128, 128, 128, 0.219);
    padding: 5px;
}

.form-wrapper__inputs_input:first-child {
    border-left-color: #3698FB;
}

.form-wrapper__inputs_input input {
    width: 95%;
    border: none;
    outline: none;
    height: 50%;
}

.form-wrapper__inputs_input input::placeholder {
    color: black;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
}

.form-wrapper__inputs_input label {
    opacity: 0.4;
}

.__h3 {
    display: flex;
    align-items: end;
}

.__span {
    font-size: 14px;
}

.__radio {
    border-color: #3698FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    height: 90%;
    margin-left: 5px;
    width: 40%;
    resize: none;
    border: 0.5px solid rgba(128, 128, 128, 0.1);
}

textarea::placeholder {
    opacity: 0.3;
    color: black;
}

.__agreement {
    display: flex;
    justify-content: start;
    align-items: end;
}

.__account {
    display: flex;
    align-items: end;
}

.__account button {
    width: 40%;
    height: 3em;
    background-color: #3698FB;
    color: white;
    border: none;
    border-radius: 5px;
}

.content__bg img {
    width: 18%;
    margin: 5% 0 0 5%;
}